:root {

    /*---- Basic font size  and family ---- */
font-size: 16px; 
/*font-size: clamp(15px, 1vw + 1rem, 18px);*/
font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;


  --color-gray-dark: #6C727F;
  --color-gray-light: #E5E7EB;
  --color-gray-background: #F9FAFB;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-blue-primary: #284BCE;
  --color-blue-dark: #394150;

 
}


h1 { font-size: 2em;}
p {
    color: var(--color-gray-dark);
    font-size: 1.1em;
  line-height: 1.45em;
  font-weight: 400;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.85em;
    padding: 8.5em 1.5em;
    margin: 0 auto;
    text-align: center;
    align-items: center;
   }




/*.....    FORM STYLE   .....*/


.subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  margin-top: 2.4em;
  background-color: var(--color-white);
  font-family: sans-serif;
  border-radius: 1em;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
}

.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 1.6em;
  max-width: 34.5em;
  width: 100%;
}

.subscription-form input {
  padding: 1em 1em;
  font-size: 1em;
  font-weight: 600;
  border: 1px solid var(--color-gray-light);
  background-color: var(--color-gray-background);
  border-radius: 0.5em;
  text-align: center;
}

.subscription-form button {
  padding: 1em 1em;
  font-size: 1em;
  font-weight: 600;
  background-color: var(--color-blue-primary);
  color: var(--color-white);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscription-form button:hover {
  background-color: #0056b3;
}

.subscription-form .note {
  font-size: 0.875em;
  color: var(--color-gray-dark);
  text-align: left;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-group input {
  padding: 0.5em 2.5em 0.5em 3em; /* space for icons */
  font-size: 1rem;
  width: 100%;
  border: 1px solid var(--color-txt);
  border-radius: 0.5em;
}

.toggle-password {
  position: absolute;
  right: 0.8em;
  cursor: pointer;
  font-size: 1.2em;
  user-select: none;


@media (min-width: 768px) {

.main-wrapper {
    padding-inline: 2rem;
    padding-bottom: 3rem;
    max-width: 760px;
    padding-top: 12.5em;
           
}
h1 {
    font-size: 3.1em;
}

p {
    font-size:  1.3999em;;
}

.subscription {
    width: 80%;
}
    
}
